
/* WORKS CAROSSEL*/
:root{

    --grey: #8d8d8d;
    --ice: #fdfdfd;
    --darkgrey: #1C1C1C;
    --green: #d0ff00;

}

.works{
    display: flex;
    width: 100%;
    height: 100%;
    background-color:var(--darkgrey) ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.work_content{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
}


.work_card_content{
    display: flex;
    width: 90%;
    height: 60%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}



.img_content_work{
    display: flex;
    width: 440px;
    height: 350px;
    background-color: #cac8e6;
    justify-content: center;
    align-items: center;

}


.img_content_work img{
    height: 50px;

}


.conteudo_work{
    display: flex;
    flex-direction: column;
    height: 230px;
    justify-content: center;
}


.type_project{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: #d0ff00;

}


.title_project{
    font-size: 30px;
    color: var(--ice);
    font-weight: 500;
    padding-bottom:1.5rem;
}


.descri_project{
    display: flex;
    font-size: 14px;
    text-align: justify;
    color: #8d8d8d;
    font-weight: 300;
    text-wrap: wrap;
    max-width: 500px;
    flex-direction: column;
    gap: 2rem;

}


.btn_content_work{
    display: flex;
    background-color: #0f0f0f;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    

}

.btn_content_work:hover{
    transform: scale(1.05);
    background-color: var(--ice);
}

.btn_content_work:hover i {
    color: var(--darkgrey);
}

.btn_content_work i{
    font-size: 18px;
    color: var(--ice);
    transform: rotate(45deg);
    font-weight: 100px;
}